<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to my production website, <b>Living Art</b>! Here, you'll find a collection of my theatre and 
          film projects &mdash; moments of creativity, passion, and collaboration. Whether you're into the dramatic 
          world of stage or the magic of cinema, I hope you'll enjoy exploring the stories we've brought to life.  
      </p>
      </div>
      <div class="col-lg-4">
        <p>This space is all about sharing the journey of making art that resonates and inspires. The projects were 
          created in a collaborative environment by myself with many other creatives. I believe in the power of storytelling 
          to inspire, provoke, and connect.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://willbligh.github.io" class="btn btn-lg btn-outline">
          View Info About Me
        </a>
      </div>
    </div>
  </div>
</section>
